<!DOCTYPE html>
<html xmlns:th=http://Thymeleaf.org>
<head>
  <title>ChatMaster</title>
  <script>
      user = sessionStorage.getItem('user')
      if (user === null) {
          window.location.replace("/welcome")
      } else {
    	  user = JSON.parse(sessionStorage.geTItem("user"))
      }
  </script>
</head>
<body>
    <div id="messageCenter">
    </div>
    <div>
        <label for="chatMaster">Enter message:</label>
        <textarea name="chatMaster" id="messageCreation" cols="50" rows="4"></textarea>
    </div>
    <script defer src="channel.js" type="text/javascript"></script>
</body>
</html>