<!DOCTYPE html>
<html xmlns:th=http://Thymeleaf.org>
<head>
<title>ChatMaster</title>
<script>
      user = sessionStorage.getItem('user')
      if (user === null) {
          window.location.replace("/welcome")
      } else {
    	  user = JSON.parse(sessionStorage.getItem("user"))
      }
  </script>
</head>
<body>
	<div id="messageCenter"></div>
	<div style="position: relative; float: right">
		<label for="chatMaster">Enter message:</label>
		<textarea name="chatMaster" id="messageCreation" cols="100" rows="1"></textarea>
	</div>
	<script type="text/javascript" src="/Js/channel.js"></script>
</body>
</html>